<h3>Приоритет - @ViewBag.Prior</h3>

@using (Html.BeginForm("Priority", "Task", new { priorityValue = @ViewBag.Prior }, FormMethod.Post,  new { enctype = "multipart/form-data" }))
{
    <input type="file" name="uploadfile" />
    <br />
    <input type="submit" id="submit" value="Загрузить" />
}
