@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework.</p>

</div>

<div class="row">
    @using (Html.BeginForm())
    {

        @:Раскрывающийся список
        @Html.DropDownList("list", new SelectList(new[] { "dima_imp", "yurko_imp", "import_clnt_example" }))

        <br />

        @*@:Список с множественным выбором
        @Html.ListBox("list2", new MultiSelectList(new[] { "a", "b", "c", "d" }), new { style = "width:100px;" })*@

        <br />

        <input type="submit" name="button" value="Отправить" />
    }


    @ViewBag.Message

</div>