@model IEnumerable<WebUI.Models.QEntities.QSubTask>

<br />
<p style="padding-left:30px" class="text-muted">@ViewBag.TaskName:</p>

<ul>

    @foreach (var item in Model)
    {
        <li>
            @Ajax.ActionLink(item.Name, item.Action, "Task", new { prior = item.Param }, new AjaxOptions() { UpdateTargetId = "concret_task" })
        </li>
    }
</ul>
