@model IEnumerable<EFLayer.SUBTASK>

<br />
<p style="padding-left:30px" class="text-muted">@ViewBag.TaskName:</p>

<ul>

    @foreach (var item in Model)
    {
        <li>
            @Ajax.ActionLink(item.NAME, item.ACTION, "Task", new { prior = item.PARAM }, new AjaxOptions() { UpdateTargetId = "concret_task" })
        </li>
    }
</ul>
