

@using (Ajax.BeginForm("Result", new { deskSide = ViewBag.Random }, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
    UpdateTargetId = "results",
    LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
}))
{
    <fieldset>
        <div id=chess>
            <div id=desk class="col-lg-8">
                <div class="text-center form-control" style="height:auto; width:auto">

                    <h4 id=message>Hello!</h4>


                    @for (int i = 0; i < 8; i++)
    {
        for (int j = 0; j < 8; j++)
        {
                @Html.ChessDeskBuilder(i, j, ViewBag.Random == 0 ? ChessSide.black : ChessSide.white)
}
                <br />
}
                    <br />
                    <p id="start" class="btn btn-primary">Начать</p>
                    <input hidden="hidden" name="field" id="ansField">
                    <input hidden="hidden" name="time" id="ansTime">
                </div>
            </div>

            <div id=results class="col-lg-4">

                <div class="text-center form-control" style="height:auto; width:auto">

                    <br />

                    <h4>Рекорды:</h4>

                    <table border="1" class="text-center" style="width:100%">

                        <tr>
                            <td>Кира</td>
                            <td>D-4</td>
                            <td>3 сек</td>
                        </tr>
                        <tr>
                            <td>Кира</td>
                            <td>D-4</td>
                            <td>4 сек</td>
                        </tr>
                        <tr>
                            <td>Кира</td>
                            <td>D-4</td>
                            <td>5 сек</td>
                        </tr>
                        <tr>
                            <td>Кира</td>
                            <td>D-4</td>
                            <td>6 сек</td>
                        </tr>
                        <tr>
                            <td>Кира</td>
                            <td>D-4</td>
                            <td>7 сек</td>
                        </tr>
                    </table>
                    <br />
                </div>

                <br /><br />

                <div class="text-center form-control" style="height:auto; width:auto">

                    <h4>Последние попытки:</h4>
                    <table border="1" class="text-center" style="width:100%">

                        <tr>
                            <td>Гена</td>
                            <td>D-7</td>
                            <td>4 сек</td>
                        </tr>
                        <tr>
                            <td>Сёма</td>
                            <td>E-2</td>
                            <td>3,5 сек</td>
                        </tr>
                        <tr>
                            <td>Сёма</td>
                            <td>E-2</td>
                            <td>3,5 сек</td>
                        </tr>
                        <tr>
                            <td>Сёма</td>
                            <td>E-2</td>
                            <td>3,5 сек</td>
                        </tr>
                        <tr>
                            <td>Сёма</td>
                            <td>E-2</td>
                            <td>3,5 сек</td>
                        </tr>
                    </table>
                    <br />
                </div>
            </div>
        </div>

        @*<input type="submit" style="width:50px; height:50px; border:inherit; border-color:dimgray; Background:blue" class="btn" />*@

    </fieldset>

    <br />
}


    <script type="text/javascript">

    $(document).ready(function () {
       
        var start;
       // var deskSize = ViewBag.Random;

        $("#start").click(function () {

            var q = GetQuestion();
            $("#start").text(q);
            start = $.now();
        });

        function GetQuestion(){
            var dig = [1, 2, 3, 4, 5, 6, 7, 8];
            var chr = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'];

            var item1 = chr[Math.floor(Math.random() * 8)];
            var item2 = dig[Math.floor(Math.random() * 8)];

            return item1 + item2;
        }

        $('.answer').click(function (e) {

            var resTime = ($.now() - start) / 1000;
            //@Session["ResultTime"] = resTime;

            if ($("#start").text() == e.target.id) {

                $("#message").text('Да! За ' + resTime+ 'сек.');
                $("#start").text('Начать');
                $("#ansField").val(e.target.id);
                $("#ansTime").val(resTime);
            }
            else {

                $("#message").text('Неа! За ' + resTime + 'сек.');
            }  

            @*$.ajax({
                url: 'Result',
                type: 'POST',
                data: {
                    field: e.target.id,
                    deskSide: @ViewBag.Random,
                    time: resTime
                }
            });*@
        });
    });

    </script>

