@*@using (Html.BeginForm("Priority", "Task", new { priorityValue = @ViewBag.Prior }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="uploadfile" />
        <br />
        <input type="submit" id="submit" value="Загрузить" />
    }*@

@using (Ajax.BeginForm("Change", "Priority", new { }, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
    UpdateTargetId = "concret_task",
    LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
}))
{
<div>

    <label>Приоритет:</label> <input type="text" id="myText" /><hr />    

    <input type="file" style="text-align:center" id="inputFile" />   <hr />

    <input type="submit" id="submit" value="Загрузить" />  <br /><br />

</div>
}


<script type="text/javascript">

    //$(document).ready(function () {

    //   // alert("Привет");

    //    //function updatePrice() {
    //    //    var price = parseFloat($("#dare_price").val());
    //    //    var total = (price + 1) * 1.05;
    //    //    var total = total.toFixed(2);
    //    //    $("#total_price_amount").val(total);
    //    //}
    //    //$(document).on("change, keyup", "#dare_price", updatePrice);
    //});




    //     $("#myText").change(function () {
    //         //var total = Number($this).val();

    //         alert("!!!");

    //     $('#total_price').val(total);
    //     });


    // Restricts input for the given textbox to the given inputFilter.
    function setInputFilter(textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
            textbox.addEventListener(event, function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
            });
        });
    }


    

    // Restrict input to digits and '.' by using a regular expression filter.
    setInputFilter(document.getElementById("myText"), function(value) {
        return /^[0-9]*$/.test(value);
    });



</script>


